nav {
  background-color: #ffffff;
}
nav .brand-logo,
nav ul a {
  color: #000000;
}

.card.card-login {
  display: flex;
}
.card.card-login .card-content {
  flex: 1;
}

.card .card-title {
  font-weight: normal;
}
